<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input name='username' type='text' ng-model='user.username' required>
    <p ng-show="signupForm.username.$invalid && !signupForm.username.$pristine">Please enter a usename</p>
    <input name='password' type="password" ng-model='user.password' required>
    <p ng-show="signupForm.password.$invalid && !signupForm.password.$pristine">Please enter a password</p>
    <button>signup</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
